/*CLASES REUTILIZABLES*/
/*Los prefijos -webkit y -moz se colocan para que enuestro código sea compatible con las diferentes versiones de los navegadores*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;/*Añadiendo fuente Raley*/
  font-size: 16px;
  line-height: 1.71429;
  margin: 0 auto;
  
  
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
  position: relative;/*Posicionamos a nuestro elemento para poder emplear las propiedas top, lef,right y bottom*/
  top:60px;
    
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  padding: 5px;
  text-decoration: none;
  
}

a:hover {
  color: #E95853; /*Coloreamos cada vez que el mouse se encuentra por encima del elemento a*/
  
}

.text-uppercase {
  text-transform: uppercase;/*Transformará el texto a mayusculas*/
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

header{
  background:#fff;
  font-weight:bold;
  height:100px;
  position:fixed;/*Posicionamos el encabezado de manera fija al navegador */
  top:0px;
  width: 100%;
  z-index:1000; /*Le asignamos 1000 al tercer eje para que se coloque encima de los demás elementos*/
}

nav{
  left:10%;
  padding:10px;
  position: absolute;
  top:50%;/*Posicionamos al navegador en medio del header (Elemento padre)*/
  transform: translateY(-50%);/*Rotamos el elemento en si mismo a la mitad*/
 
 }

nav a {
  margin:20px;
}

img[alt='applove']{ /*Colocando a la derecha el logo */
  float:right;
  margin-right: 8%;
  width: 70px;
}

section{
  width:100%;
}

#bg-home{
  background-image:url(../assets/images/bg-home.jpg);/*Colocamos de fondo a la imagen*/
  background-repeat: no-repeat;/*Evitamos que se repita la imagen*/
  background-size: 100%;
  color:#fff;
  height:100%;
  position: relative;
  text-align: center;
  top:82px;
  width:100%;
 }


#bg-home>h2{
  font-weight: bold;
  margin: 0px;
  position: relative;
  padding: 100px 0px 40px 0px; /*Colocamos valores para el relleno  en orden horario*/
    
}

#bg-home>h1{
  font-size: 50px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  position: relative;
  
}

#bg-home>p{
  font-size: 15px;
  margin: 0px;
  padding: 10px;
  position: relative;/*Colocamos el mismo valor para el relleno en todos los sentidos*/
    
}

#bg-home>button{
  background-color: #2ecc71;
  border: 0px;
  color: #fff;
  font-weight: 600;
  margin: 70px 0px 110px 0px; /*Colocamos valores para el margen  en orden horario*/
  padding: 15px;  
}

button a {
  color: white;
}

button a:hover {
 color: white;
}

#bg-services{
  background-color:#f17c72;/*Definimos el color de fondo*/
  background-size: 100%;
  color: #fff;
  height:100%;
  margin: 0px;
  position: relative;
  text-align: center;/*Alineamos el texto al centro */
  top:60px;
  padding: 0px;
  width:100%;  
}

#bg-services>h2{
  font-size:30px;
  font-weight: bold;
  margin: 0px;
  position: relative;
  padding: 85px 0px 0px 0px;/*Colocamos valores para el relleno  en orden horario*/
}

#bg-services>h4{
  font-weight: bold;
  margin: 0px;
  padding: 40px 0px 0px 0px;/*Colocamos valores para el relleno  en orden horario*/
  position: relative;
  
}

#blockservices{
  font-weight: bold;
  padding: 100px 150px 75px 150px;/*Colocamos valores para el relleno  en orden horario*/
  
}

.services{ /*Definimos la clase services para usarlas como contenedor de las imagenes de los proyectos*/
  
  display: inline-block;
  margin: 0px;
  padding: 0px;
  position: relative;
  width:33%;

}

.services>img{
  margin:20px;
  max-width: 60%;
  
}

.services>h5,.services>h6{
  margin: 0px;
  padding: 0px;

}
  
#bg-work{
  background-color:#fff;
  background-size: 100%;
  color: #000;
  height:100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  text-align: center;
  top:60px;
  width:100%;
}

#bg-work>h2{
  font-size:30px;
  font-weight: bold;
  margin: 0px;
  position: relative;
  padding: 70px 0px 0px 0px;/*Colocamos valores para el relleno  en orden horario*/
  
}

#bg-work>h4{
  color:#424242;/*Definimos color de texto para que resalte respecto al fondo blanco*/
  margin: 0px;
  position: relative;
  padding: 30px 0px 40px 0px;/*Colocamos valores para el relleno  en orden horario*/
}

#bg-work>img{
  width: 70%; /*Definimos el ancho de la imagen respecto a su contenedor*/  
}

.projects{ /*Definimos la clase projects para las imagenes de los diversos proyectos*/
  color:#424242;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  position: relative;
  text-align:center;
  width:33%;
  
}

.projects>img{
  margin-top:50px;
  max-width: 75%;
  
}

footer{
  background-color:#373B47;
  color:#fff;
  font-weight: bold;
  margin: 0px;
  padding: 10px;
  position: relative;
  text-align:center;
  top:100px;  
}

 